@import 'normalize.css';

body {
  background: #5C258D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4843a2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4843a2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #ffffff;
}

.input-group {
  display: flex;

  margin: 1rem 0;

  flex-direction: row;
  gap: 1rem;

  align-items: center;
}